/* @import url("https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #202124;
}
.cont {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.clock {
  margin: 0;
  font-size: 20vw;
  color: aliceblue;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 80vh;
  min-width: 100%;
  overflow: hidden;
}

.hr {
  text-align: center;
  width: 26vw;
  /* background-color: gray; */
}
.min {
  text-align: center;
  width: 26vw;
  /* background-color: lightblue; */
}
.sec {
  width: 26vw;
  text-align: center;
  /* background-color: lightgreen; */
}

.abbr {
  font-size: 3vw;
  font-weight: 400;
  display: flex;
  justify-content: center;
  color: aliceblue;
  width: 100%;
  /* background-color: blueviolet; */
}
.buttons {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0;
}
.btnclockWS {
  width: 100%;
  display: none;
}
.btnclock {
  width: 100%;
}

.stopwatch {
  width: 100%;
}
.buttonsforStpW {
  display: none;
  justify-content: space-between;
  margin-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

.start {
  width: 30%;
}
.stop {
  width: 30%;
}
.reset {
  width: 30%;
}
.clockbutton {
  display: none;
  margin-top: 10px;
  margin-bottom: 5px;
  justify-content: space-evenly;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
/* #span1 {
  display: block;
  font-size: 20vh;
  width: 100%;
} */

/* Small devices ( 576px and up) */
@media (max-width: 575.98px) {
  #span1 {
    display: none;
    font-size: 20vh;
    /* width: 100%; */
  }
  #span2 {
    display: none;
    font-size: 20vh;
    /* width: 100%; */
  }

  .clock {
    padding: 0;
    flex-direction: column;
    letter-spacing: 1px;
    font-size: 37vh;
    text-align: left;
    min-height: 0;
  }
  .hr {
    width: 100%;
    line-height: 30vh;
  }

  .min {
    width: 100%;
    line-height: 30vh;
  }
  .sec {
    width: 100%;
    line-height: 30vh;
  }
  .buttons {
    margin-top: 10px;
    justify-content: space-between;
    padding: 0;
  }
  .abbr {
    font-size: 4vh;
    color: aliceblue;
    height: 4vh;
    padding: 0;
    width: unset;
  }
  .stopwatch {
    width: unset;
  }
  .buttonsforStpW {
    display: none;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  .btnclock {
    display: flex;
    width: unset;
  }
  .btnclockWS {
    display: none;
    width: unset;
  }
  .clockbutton {
    display: none;
    margin-top: 10px;
    margin-bottom: 5px;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
  .body {
    height: 100vh;
  }
  .clock {
    font-size: 24vw;
    display: flex;
    justify-content: center;
    text-align: center;
    transform: scale(1, 1.2);
    font-weight: 600;
    position: initial;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
  }
  .abbr {
    height: 5vh;
    width: 100%;
    display: block;
    text-align: right;
    position: absolute;
    top: 70vh;
    z-index: 2;
  }
}

/* Medium devices (tablets, 768px and up) */
/* @media (max-width: 768px) {
  span {
    display: none;
  }
} */
