/* @import url("https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #202124;
}
.cont {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.clock {
  margin: 0;
  font-size: 20vw;
  color: aliceblue;
  font-weight: 500;
  display: flex;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  overflow: hidden;
}

.hr {
  text-align: center;
  width: 26vw;
  /* background-color: gray; */
}
.min {
  text-align: center;
  width: 26vw;
  /* background-color: lightblue; */
}
.sec {
  width: 26vw;
  text-align: center;
  /* background-color: lightgreen; */
}

.abbr {
  font-size: 3vw;
  font-weight: 400;
  display: flex;
  align-items: flex-end;
  height: 16vw;
  /* background-color: blueviolet; */
}
.buttons {
  display: flex;
  justify-content: space-around;
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {
  span {
    display: none;
    width: 0;
  }
  .clock {
    padding: 0;
    flex-direction: column;
    letter-spacing: 1px;
    font-size: 37vh;
    text-align: left;
  }
  .hr {
    width: 100%;
    line-height: 30vh;
  }

  .min {
    width: 100%;
    line-height: 30vh;
  }
  .sec {
    width: 100%;
    line-height: 30vh;
  }
  .abbr {
    font-size: 5vh;
  }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
  .body {
    height: 100vh;
  }
  .clock {
    font-size: 24vw;
    display: flex;
    justify-content: center;
    text-align: center;
    transform: scale(1, 1.2);
    font-weight: 600;
    position: initial;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
  }
  .abbr {
    height: 5vh;
    width: 100%;
    display: block;
    text-align: right;
    position: absolute;
    top: 70vh;
    z-index: 2;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  span {
    display: none;
  }
}
